@page 
@model BibliotecaAPI.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>Home</title>
</head>
<body>
<div>
    <button>Teste</button>
</div>
</body>
</html>